@font-face{font-family:Alexandria;src:url('./fonts/Alexandria-Regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:Alexandria;src:url('./fonts/Alexandria-Medium.ttf') format('truetype');font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:Alexandria;src:url('./fonts/Alexandria-Semibold.ttf') format('truetype');font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:Alexandria;src:url('./fonts/Alexandria-Bold.ttf') format('truetype');font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:Alexandria;src:url('./fonts/Alexandria-ExtraBold.ttf') format('truetype');font-weight:800;font-style:normal;font-display:swap}
html,body{font-family:Alexandria,Arial,sans-serif}
